<div class="has-text-centered is-size-2 has-text-weight-bold has-text-link"><p>Your News</p>
<button class="button is-primary" id="update-items">Refresh</button>

</div><br>


<div class="columns is-multiline has-background-primary">
  {{#each items as |item|}}
  <div class="column is-half">

    <div class="card is-flex-wrap-wrap m-4 p-4 has-background-info has-text-white has-text-weight-semibold">
      <a class="has-text-white is-size-4 is-underlined" href='{{item.url}}' target="_blank">{{item.headline}}</a>
    <p class="is-size-6 mt-3">  {{format_date item.published_date}} @ {{format_time item.published_date}} UTC</p>
    <p class="is-size-6 mt-3"> {{item.feed.source}} </p><br>
      <button class="button save-toggle has-background-light has-text-black m-2" data-itemid={{item.id}} data-status={{#if
        item.saved}}"true">Unsave</button>{{/if}}{{#unless item.saved}}"false">Save</button>{{/unless}}
    </div>
  </div>
  {{/each}}
</div>
<div class="has-text-centered has-text-weight-bold has-text-link">
<a class="has-text-centered is-size-4 has-text-weight-bold has-text-link" href="#main-nav">Back to top of page</a>
</div>
<br>
<script src="js/update-items.js"></script>