
<p class="has-text-centered is-size-2 has-text-weight-bold is-primary has-text-primary">Your News</p><br>

<div class="column is-centered">
        {{#each items as |item|}}
      
      <div class="card is-full m-3"><br>
        <p class="has-text-weight-bold is-flex-wrap-wrap">{{item.headline}}</p><br>{{item.img_url}} 
        <a href="{{item.url}}">{{item.url}}</a> <br> {{item.published_date}}
      <button class="button is-primary m-3">Save</button>
      </div>
      
      {{/each}}
   
  </div>
  </div>
  </div>